<HTML>
<head>
</head>
<body>
<form method="POST" action="ajoutcommande.php">
<table>
<caption>Ajouter commande</caption>
<tr>
<td>Nom</td>
<td><input type="varchar" name="nom"></td>
</tr>
<tr>
<td>Prenom</td>
<td><input type="varchar" name="prenom"></td>
</tr>
<tr>
<td>num</td>
<td><input type="varchar" name="num"></td>
</tr>
<tr>
<td>email</td>
<td><input type="varchar" name="email"></td>
</tr>
</tr>
<td>nomp</td>
<td><input type="varchar" name="nomp"></td>
</tr>
<tr>
        <td>nomp</td>
        <td><input type="varchar" name="idp"></td>
        </tr>
        <tr>
<td></td>
<td><input type="submit" name="ajouter" value="ajouter"></td>
</tr>
</table>
</form>
</body>
</HTMl>